{% load static %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chili</title>
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
            integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css">
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>
<body>
<div id="wrapper">
    <header>
        <a href="/"><img src="{% static "images/logo_1.png" %}" alt="Chili logo"></a>
    </header>
    <nav>
        {% block navigation %}
            <ul class="top-menu">
                {% url 'index' as u %}
                {% if request.path == u %}
                    <li class="active">ГЛАВНАЯ</li>
                {% else %}
                    <li><a href="{{ u }}">ГЛАВНАЯ</a></li>
                {% endif %}

                {% url 'about-history' as u %}
                {% url 'about-clients' as u1 %}
                {% if request.path == u or request.path == u1 %}
                    <li class="active">О НАС</li>
                {% else %}
                    <li><a href="{{ u }}">О НАС</a></li>
                {% endif %}

                {% url 'menu' as u %}
                {% if request.path == u %}
                    <li class="active">МЕНЮ</li>
                {% else %}
                    <li><a href="{{ u }}">МЕНЮ</a></li>
                {% endif %}

                {% url 'booking' as u %}
                {% if request.path == u %}
                    <li class="active">БРОНИРОВАНИЕ</li>
                {% else %}
                    <li><a href="{{ u }}">БРОНИРОВАНИЕ</a></li>
                {% endif %}

                {% url 'contacts' as u %}
                {% if request.path == u %}
                    <li class="active">КОНТАКТЫ</li>
                {% else %}
                    <li><a href="{{ u }}">КОНТАКТЫ</a></li>
                {% endif %}
            </ul>
        {% endblock %}
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
{#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
        {% endfor %}
    </ul>
    {% endif %}
    <div id="heading">
        {% block header %}{% endblock %}
    </div>
    <aside>
        {% block sidenav %}{% endblock %}
    </aside>
    <section>
        {% block content %}{% endblock %}
    </section>
</div>
</body>
</html>
