{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/styles_main.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/styles_booking.css" %}" type="text/css">
{% endblock %}
{% block content %}
    <p>Забронировать столик</p>

    <div class="booking_form">
        <form action="{% url "booking" %}" method="post">
            {% csrf_token %}
            {{ booking_form.non_field_errors }}
            {{ client_form.non_field_errors }}

            <div class="input_label">
                {% for field in client_form.visible_fields %}
                    <div {% if field.errors %}class="errors"{% endif %}>
                        {{ field.errors }}
                        <label><span>{{ field.label }}</span>{{ field }}</label>
                    </div>

                {% endfor %}
            </div>

            <div class="input_label">
                <div {% if booking_form.guests_count.errors %}class="errors"{% endif %}>
                    {{ booking_form.guests_count.errors }}
                    <label><span>{{ booking_form.guests_count.label }}</span>{{ booking_form.guests_count }}</label>
                </div>

                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <div {% if booking_form.start_time.errors %}class="errors"{% endif %}>
                        {{ booking_form.start_time.errors }}
                        <label><span>{{ booking_form.start_time.label }}</span>{{ booking_form.start_time }}
                            <div data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </label>

                    </div>
                </div>
            </div>
            <div class="submit_button">
                <input type="submit" value="Отправить">
            </div>
        </form>
    </div>
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
            })
        })
    </script>
{% endblock %}
