{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/styles_main.css" %}" type="text/css">
{% endblock %}
{% block content %}
    <p>Наш адрес</p>
    <p>Наш телефон</p>
    <p>Наша почта</p>
    <img src="{% static "images/sample.jpg" %}" width="320" height="175" alt="">
{% endblock %}
