{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/styles_main.css" %}" type="text/css">
{% endblock %}
{% block content %}
    <p>CHILI</p>
    <p>Ресторан острой еды</p>
    <p>Острое — это возможность сделать обычную еду запоминающейся!</p>
    <p>Предлагаем Вам попробовать острые блюда, огненные закуски и горячие специи со всего мира!</p>
    <img src="{% static "images/sample.jpg" %}" width="320" height="175" alt="">
{% endblock %}
