{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/styles_menu.css" %}" type="text/css">
{% endblock %}
{% block sidenav %}
    <nav>
        <ul class="aside-menu">
            <li class="active">ГОРЯЧИЕ БЛЮДА</li>
            <li><a href="#">ЗАКУСКИ</a></li>
            <li><a href="#">НАПИТКИ</a></li>
            <li><a href="#">ДОПОЛНИТЕЛЬНО</a></li>
        </ul>
    </nav>
{% endblock %}
{% block title %}
    <h1>МЕНЮ</h1>
{% endblock %}
{% block content %}
    <div class="card">
        <img src="{% static "images/gulyash.jpg" %}" alt="Гуляш из курицы" style="width:100%">
        <h1>Гуляш из курицы</h1>
        <p class="price">200 р</p>
        <p>Некоторый текст о блюде</p>
    </div>
    <div class="card">
        <img src="{% static "images/kur-karri.jpg" %}" alt="Курица карри" style="width:100%">
        <h1>Курица карри</h1>
        <p class="price">300 р</p>
        <p>Некоторый текст о блюде</p>
    </div>
    <div class="card">
        <img src="{% static "images/tajskij-sup.jpg" %}" alt="Тайский суп" style="width:100%">
        <h1>Тайский суп</h1>
        <p class="price">150 р</p>
        <p>Некоторый текст о блюде</p>
    </div>
    <div class="card">
        <img src="{% static "images/zharenye-kurinye-krylyshki.jpg" %}" alt="Жареные куриные крылышки" style="width:100%">
        <h1>Жареные куриные крылышки</h1>
        <p class="price">300 р</p>
        <p>Некоторый текст о блюде</p>
    </div>
{% endblock %}
