body {
	color: #000000;
	font: 20px 'Oswald', sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	background: url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

p {
	text-align: center;
	font-size: 30px;
}
#wrapper {
	max-width: 960px;
	margin: auto;
	background: rgba(255, 255, 255, 0.7);
}
header {
	padding: 20px 0;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu {	background: rgb(165, 42, 42, 0.5)}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #A52A2A;
	color: #ffffff;
}

.top-menu a {
	color: #333333;
}

section {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	padding-bottom: 50px;
}

section img {
	display: block;
		margin-left: auto;
	margin-right: auto;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;

}
