 * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
 .booking_form {
    max-width: 55%;
    margin: 4% auto;
}
  h2 {
    font-family: 'Oswald';
    font-size: 32px;
    color: #313030;
    padding-bottom: 30px;
}
 .booking_form .input_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
 input[type=text], input[type=number] {
    height: 30px;
    border: 1px solid #f1f1f1;
    padding: 0 13px;
    font-family: 'Oswald';
    color: #313030;
    font-size: 14px;
}

.booking_form .input_label input[type=text], input[type=number] {
    width: 300px;
    margin-bottom: 15px;
}
 .booking_form .input_label label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .booking_form .input_label label span {
    font-family: 'Oswald';
    color: #313030;
    font-size: 16px;
    line-height: 30px;
}

input::-webkit-input-placeholder,

input::-moz-input-placeholder {
    font-family: 'Oswald';
    color: #313030;
    font-size: 14px;

}
 *:focus::-webkit-input-placeholder {
    color: transparent;
}

*:focus::-ms-input-placeholder {
    color: transparent;
}
 .booking_form .submit_button {
    display: flex;
    justify-content: flex-end;
}
 .booking_form input[type=submit] {
    width: 120px;
    height: 45px;
    background: #A52A2A;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.input-group {
    display: block;
}

.input-group-text {
    background-color: rgba(165, 42, 42, 0.5);
}
