body {
	color: #000000;
	font: 20px 'Oswald', sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	background: url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

p {
	margin: 20px 0;
}
#wrapper {
	max-width: 80%;
	margin: auto;
	background: rgba(255, 255, 255, 0.7);
}
header {
	padding: 20px 0;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu {	background: rgb(165, 42, 42, 0.5)}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #A52A2A;
	color: #ffffff;
}

.top-menu a {
	color: #333333;
}

#heading {
	margin: 30px 0;
	padding-left: 20px;
}

h1 {
	display: inline-block;
	color: #333333;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}

aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	margin-right: 20px;
	padding-bottom: 50px;
}

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #999999;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #A52A2A;
	font-weight: bold;;
}

.aside-menu a {
	color: #333333;
	font-weight: bold;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
section > figure + figure {
	margin-left: 20px;

}

ul.errorlist {
    color: #A52A2A;
    font: 14px 'Oswald';
    list-style: none;
}