.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  width: 300px;
  height: 400px;
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  font-family: arial;
}

.price {
  color: #333333;
  font-size: 22px;
}

section {
	display: flex; 
	flex-wrap: wrap;
}
