{% extends "base.html" %}
{% block header %}
    <h1>О НАС</h1>
{% endblock %}
{% block sidenav %}
    <nav>
        <ul class="aside-menu">
            {% url 'about-history' as u %}
            {% if request.path == u %}
                <li class="active">ИСТОРИЯ</li>
            {% else %}
                <li><a href="{{ u }}">ИСТОРИЯ</a></li>
            {% endif %}
            {% url 'about-clients' as u %}
            {% if request.path == u %}
                <li class="active">КЛИЕНТЫ</li>
            {% else %}
                <li><a href="{{ u }}">КЛИЕНТЫ</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
