{% extends "about/base.html" %}
{% block content %}
    <h2>Алексей Логачев, 25 лет, инженер:</h2>
    <p>
        — Честно говоря, даже не помню, когда понял, что люблю острое. Помню только, что нравилась разная пряная
        еда, будь то чипсы со вкусом паприки или шашлыки с аджикой. Я не слишком обращал на это внимание, ну, вкусно
        и вкусно. Мало ли чего вкусного еще есть. В годы учебы в университете я уже осознанно просил что-то
        поострее: добавить в шаурму больше перца, в бургер побольше халапеньо — и все в этом духе. Стабильно есть
        острое начал уже после университета. Причиной этому послужила поездка в Индию на два месяца. Там разве
        только мороженое делают без специй — вот меня и накрыло.

        Помню, как после возвращения домой вся еда казалась мне пресной, безвкусной и скучной. Благо я привез
        достаточно специй, чтобы скрасить эти впечатления.

        Я действительно не считаю острую еду экстримом. Хотя, когда вижу какие-то острые новинки в ресторанах,
        всегда хочется себя испытать, и я это делаю. Тем не менее острое я ем больше для удовольствия. Думаю, это
        действительно можно отнести скорее к хобби или страсти. Или и к тому и к другому.
    </p>
    <h3>Сергей Ермилов, 28 лет, управленец в сфере IT:</h3>
    <p>
        — Наверное, я долго не обращал особого внимания на острые продукты в своей жизни, просто потому что чего-то
        действительно острого в неспециализированных магазинах увидеть сложно (соус «Табаско» и любые суперострые
        чипсы не в счет).

        Помню только два этапа остроедства в своей жизни. Этап: «Я хочу разводить перцы и делать суперострый и
        супервкусный соус»; второй: «Окей, выращивать перцы я пока не успеваю — нужно найти что-то остро-вкусное в
        готовом виде».

        Первый этап начался пару лет назад, после того как я набрел в интернете на магазин перцеедов и перцеводов и
        обнаружил огромное количество вариантов выращивания острых перцев.

        На самом деле тогда я задавался вопросом: «А есть ли острые соусы российского производства?» Оказалось,
        российские производители острых соусов отличаются от своих западных коллег гораздо меньшим количеством
        рекламы своего продукта, а также менее кричащими упаковками.

        Так вот, производители есть, соусы очень вкусные, но, как и во многих местечковых производствах, нужно
        знать, где искать. Так я стал заказывать и смог наконец-то удовлетворить свою жажду остренького чем-то
        вкусным и действительно заставляющим попотеть.
    </p>
    <h4>Анжели Каруввакат, 25 лет, project-менеджер креативного агентства:</h4>
    <p>
        — У меня есть четкое воспоминание из детства, как стою в парке развлечений в Мумбае и ем арбуз, посыпанный
        чак масала (пряность такая). Не могу сказать, что происхождение как-то сильно сконцентрировало меня именно
        на индийской кухне. Я всю жизнь ем разное, моментами бросаясь из крайности в крайность. То картошечка с
        селедочкой, то дал с кабачками (острый чечевичный суп. — Прим. ред.). Меня это нисколько не смущает, это
        часть меня, и я это обожаю. Острое для меня скорее обычное дело, чем какой-либо экстрим или увлечение.
        Постоянно добавляю черный перец во все блюда. Друзья и коллеги давно привыкли и уже не делают огромные
        глаза, когда я усердно перчу любое блюдо в течение минуты.
    </p>
{% endblock %}
