{% extends "about/base.html" %}
{% load static %}
{% block content %}
    <p>Бла бла бла бла бла</p>
    <p>Бла бла бла бла бла</p>
    <p>Бла бла бла бла бла</p>
    <figure>
        <img src="{% static "images/sample.jpg" %}" width="320" height="175" alt="">
    </figure>
    <figure>
        <img src="{% static "images/sample.jpg" %}" width="320" height="175" alt="">
    </figure>
{% endblock %}



